@model Setting
@{
    ViewData["Title"] = "Default";
}

<div class="col-lg-3 col-sm-6 col-md-6 col-xs-12">
    <div class="single-item">
        <div class="medinlik-about">
            <div class="footer-logo">
                <a href="#"><img src="~/uploads/footerlogo.png" class="img-fluid" alt=""></a>
            </div>
            <div class="footer-about">
                <p>We are ipsum dolor sit amet aeeatt consectetuer adipiscing elitseder diam nonummy.</p>
            </div>
            <div class="footer-contact-info">
                <ul>
                    <li>
                        <i class="fas fa-map-marker-alt"></i>
                        @Model.Address
                    </li>
                    <li>
                        <i class="fas fa-phone"></i>
                        <a href="#">@Model.Phone</a>
                    </li>
                    <li>
                        <i class="far fa-envelope"></i>
                        <a href="#">@Model.Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

