@model Medilink_Final_Project.Models.Setting
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="d-flex justify-content-center align-items-center"><h1>Edit</h1></div>

<hr />
<div class="row ml-5">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" type="tel" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mt-5">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-outline-secondary ml-3" asp-action="Index">Return to Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $(document).ready(function () {
            $('[type=tel]').on('change', function (e) {
                $(e.target).val($(e.target).val().replace(/[^\d\.]/g, ''));
            })
            $('[type=tel]').on('keypress', function (e) {
                keys = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '.', '+'];
                return keys.indexOf(event.key) > -1;
            })
        })
    </script>
}