
#cart{
    padding-bottom: 95px;
    padding-top: 95px;
    form{
        table{
            margin: 0 0 100px;
            border-radius: 0;
            border: 1px solid rgba(0,0,0,.1);
            text-align: left;
            width: 100%;
            thead{
               tr{
                   th{
                    padding: 12px 12px;
                    color: #282828;
                    text-align: center;
                    font-weight: 700;
                    line-height: 1.5em;
                    vertical-align: middle;
                   }
                }
            }
            tbody{
              tr{
                  td{
                    padding: 12px 12px;
                    color: #282828;
                    text-align: center;
                    font-weight: 700;
                    line-height: 1.5em;
                    vertical-align: middle;
                  }
                  .product-remove{
                      a{
                        margin: 0 auto;
                        display: block;
                        font-size: 1.5em;
                        height: 1em;
                        width: 1em;
                        text-align: center;
                        line-height: 1;
                        border-radius: 100%;
                        color: red !important;
                        font-weight: 700;
                        border: 0;
                      }
                    }
                    .product-quantity{
                        position: relative;
                        input{
                            position: absolute;
                            top: 37px;
                            left: 40%;
                            height: 30px;
                            width: 3.631em;
                            border: 1px solid #e7e7e7;
                            border-radius: 0;
                            box-shadow: none;
                            text-align: center;
                            padding: 1px;
                            background-color: #fff;
                            color: #666;
                            font-size: 15px;
                            font-weight: 400;
                            line-height: 1.5;
                        }
                    }
              }
            }
        }
    }
    .cart-totals{
        float: right;
        width: 48%;
        h2{
            color: #282828;
            font-size: 24px;
            margin-bottom: 35px;
            font-family: $secondary_font_family;
            line-height: 34px;
            font-weight: 700;
            font-style: normal;
        }
        table{
            border-width: 1px;
            margin: 0 0 6px;
            padding: 0;
            border-radius: 0;
            border: 1px solid rgba(0,0,0,.1);
            text-align: left;
            width: 100%;
            tbody{
                tr{
                    th{
                        padding: 12px 12px;
                        color: #282828;
                        width: 35%;
                        font-weight: 700;
                    }
                    td{
                        padding: 12px 12px;
                        color: #282828;
                        text-align: center;
                    }
                }
            }
        }
    }
}