@model BannerViewModel
@{
    ViewData["Title"] = "_Banner";
}

<!-- Banner section start -->
<section id="banner" style="background-image: url(/uploads/banner.jpg)">
    <div class="page-banner">
        <div class="container-fluid">
            <div class="banner-connet">
                <h1>@Model.Title</h1>
                <div class="breadcrumb-area">
                    <div class="banner-breadcrumb">
                        <span class="icon">
                            <a href="#">
                                <span>Medilink</span>
                                &nbsp;
                            </a>
                            >
                        </span>
                        <span class="post-page">@Model.Title</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner section end -->
