<!-- Need-doctor section start -->
<section id="need-doctor" style="background-image: url(/uploads/c3.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="appointment wow fadeInLeftBig" data-wow-duration="2s">
                    <h4>Need a Doctor for Check-up?</h4>
                    <h2>just make an appointment & you're done!</h2>
                    <div class="call-to-action">
                        <a asp-controller="Appointment" asp-action="Index">Make an Appointment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Need-doctor section end -->