@model Medilink_Final_Project.Models.Doctor
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="d-flex justify-content-center align-items-center"><h1>Edit</h1></div>


<hr />
<div class="row ml-5">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Photo" type="hidden" />
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="custom-file">
                    <label class="custom-file-label" asp-for="Upload"></label>
                    <input type="file" class="custom-file-input" asp-for="Upload" />
                    <span asp-validation-for="Upload" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-4">
                <img class="image-preview img-fluid" src="~/uploads/@Model.Photo" />
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DepartmentId"></label>
                <select asp-for="DepartmentId" class="form-control">
                    <option value="0" selected disabled>Select Department</option>
                    @foreach (var item in ViewBag.Departments)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="AboutMe" class="control-label"></label>
                <input asp-for="AboutMe" class="form-control" />
                <span asp-validation-for="AboutMe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" type="tel" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Office" class="control-label"></label>
                <input asp-for="Office" class="form-control" type="tel" />
                <span asp-validation-for="Office" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Facebook" class="control-label"></label>
                <input asp-for="Facebook" class="form-control" />
                <span asp-validation-for="Facebook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Twitter" class="control-label"></label>
                <input asp-for="Twitter" class="form-control" />
                <span asp-validation-for="Twitter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Linkedin" class="control-label"></label>
                <input asp-for="Linkedin" class="form-control" />
                <span asp-validation-for="Linkedin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gmail" class="control-label"></label>
                <input asp-for="Gmail" class="form-control" />
                <span asp-validation-for="Gmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group mt-5">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-outline-secondary ml-3" asp-action="Index">Return to Back</a>
            </div>
        </form>
    </div>
</div>



@section Scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#Upload").change(function () {
                var file = this.files[0];
                var fileReader = new FileReader();
                fileReader.onload = function (e) {
                    $(".image-preview").attr("src", e.target.result);
                };
                fileReader.readAsDataURL(file, "UTF-8");
            });

            $('[type=tel]').on('change', function (e) {
                $(e.target).val($(e.target).val().replace(/[^\d\.]/g, ''));
            })
            $('[type=tel]').on('keypress', function (e) {
                keys = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '.', '+'];
                return keys.indexOf(event.key) > -1;
            })
        })
    </script>
}
