@model ShopViewModel
@{
    ViewData["Title"] = "Index";
}

<main>
    <!-- Banner section start -->
    <partial name="_Banner" model="Model.BannerViewModel" />
    <!-- Banner section end -->

    <!-- Products section start -->
    <section id="products">
        <div class="container-fluid">
            <div class="search">
                <div class="team-search">
                    <div class="search-element-widjet">
                        <div class="search-element">
                            <div class="team-search-box">
                                <form asp-action="Index" method="get" id="medicine-form">
                                    <div class="row">
                                        <div class="col-lg-8 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <input class="doctor-name form-controll" type="text" id="name" name="name" placeholder="Type Medicine Name Here ...">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="medicine-items">
                                @foreach (var item in Model.Shops)
                                {
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" data-role="shop">
                                        <div class="medicine-item wow fadeInUp" data-wow-duration="3s">
                                            <div class="team-box">
                                                <div class="item-img">
                                                    <img src="~/uploads/@item.Photo" class="img-fluid" alt="">
                                                    <div class="item-icon">
                                                      <a asp-controller="Basket" asp-action="AddBasket" asp-route-id="@item.Id" data-id="@item.Id" class="add-to-basket"><i class="fas fa-shopping-cart"></i></a>
                                                    </div>
                                                </div>
                                                <div class="item-content">
                                                    <h3 class="item-content-title">@item.Name</h3>
                                                    <div class="item-star">
                                                        @for (int i = 0; i < item.Star; i++)
                                                        {
                                                            <i class="fas fa-star"></i>
                                                        }
                                                    </div>
                                                    <div class="item-price">
                                                        <span class="price">@item.Price ₼</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Products section end -->
</main>

@section Scripts{ 

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        $(".doctor-name").on("keyup", function () {
                var value = $(this).val().toLowerCase();
            $('div[data-role="shop"]').filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
        });

        //$(document).ready(function () {
        //    $(document).on("click", ".add-to-basket", function (e) {
        //        e.preventDefault();
        //        let id = $(this).attr("data-id");
        //        $.ajax({
        //            url: "/Basket/AddBasket?Id=" + id,
        //            type: "Get",
        //            success: function (res) {
        //                console.log(res);
        //                $(".cart-count").text() = res;
                        
        //            }
        //        })
        //    })
        //})
     
            //let addtobasket = document.querySelectorAll(".add-to-basket");
            //addtobasket.forEach(item=>{
            //    item.addEventListener("click", function (event) {
            //        let id = $(this).attr("data-id");
            //        event.preventDefault();
            //        $.ajax({
            //            url: "/Basket/AddBasket?Id=" + id,
            //            type: "Get",
            //            success: function (res) {
            //                console.log(res)
            //                $(".cart-count").text() = res;
            //            }
            //        })
            //    })
            //    })
    
            
                
    </script>
}

@section Style{ 
<style>
    .add-to-basket{
        cursor: pointer;
    }
</style>
}