@model ShopViewModel
@{
    ViewData["Title"] = "Index";
}

<main>
    <!-- Banner section start -->
    <partial name="_Banner" model="Model.BannerViewModel" />
    <!-- Banner section end -->
    <!-- Products section start -->
    <section id="products">
        <div class="container-fluid">
            <div class="search">
                <div class="team-search">
                    <div class="search-element-widjet">
                        <div class="search-element">
                            <div class="team-search-box">
                                <form asp-action="Index" method="get" id="medicine-form">
                                    <div class="row">
                                        <div class="col-lg-8 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <input class="doctor-name form-controll" type="text" id="name" name="name" placeholder="Type Medicine Name Here ...">
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                            <div class="form-group">
                                                <input id="input" class="item-btn" type="submit" value="Search">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="medicine-items">
                                @foreach (var item in Model.Shops)
                                {
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                        <div class="medicine-item wow fadeInUp" data-wow-duration="3s">
                                            <div class="team-box">
                                                <div class="item-img">
                                                    <img src="~/uploads/@item.Photo" class="img-fluid" alt="">
                                                    <div class="item-icon">
                                                        <a data-id="1" asp-controller="Basket" asp-action="AddBasket" asp-route-id="@item.Id" class="add-to-basket"><i class="fas fa-shopping-cart"></i></a>
                                                    </div>
                                                </div>
                                                <div class="item-content">
                                                    <h3 class="item-content-title">@item.Name</h3>
                                                    <div class="item-star">
                                                        @for (int i = 0; i < item.Star; i++)
                                                        {
                                                            <i class="fas fa-star"></i>
                                                        }
                                                    </div>
                                                    <div class="item-price">
                                                        <span class="price">@item.Price ₼</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Products section end -->
</main>

