@model SocialLink
@{
    ViewData["Title"] = "Default";
}

<div class="col-md-3 col-lg-2 col-xs-12 tophead-right header-social-layout1  phone-has-social">
    <ul class="tophead-social">
        <li>
            <a href="@Model.Facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>
        <li>
            <a href="@Model.Twitter">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="@Model.Linkedin">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </li>
        <li>
            <a href="@Model.Yotube">
                <i class="fab fa-youtube"></i>
            </a>
        </li>
    </ul>
</div>

