// Search start
#search{
    width: 1349px;
    left: -29.5px;
    background-color: #f1f7fa;
    padding: 80px 0px 80px 0px;
      .search{
        max-width: 1320px;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        .team-search{
            width: 100%;
            padding: 10px;
            position: relative;
            display: flex;
            .search-element-widjet{
                display: flex;
                position: relative;
                width: 100%;
                flex-wrap: wrap;
                align-content: flex-start;
                .search-element{
                    width: 100%;
                    position: relative;
                    .team-search-box{
                        margin-bottom: 40px;
                        padding: 20px 20px 10px;
                        background-color: #ffffff;
                        box-shadow: 0px 1px 2px 0px rgba(194, 205, 211, 0.75);
                        border-radius: 4px;
                        .search-item{
                            display: flex;
                            flex-wrap: wrap;
                            margin-right: -15px;
                            margin-left: -15px;
                            .form-group{
                                margin-bottom: 1rem;
                                select{
                                    border: 0!important;
                                    clip: rect(0 0 0 0)!important;
                                    height: 1px!important;
                                    margin: -1px!important;
                                    overflow: hidden!important;
                                    padding: 0!important;
                                    position: absolute!important;
                                    width: 1px!important;
                                    color: #707070;
                                    font-size: 15px;
                                    font-weight: 400;
                                    line-height: 1.5;
                                    text-transform: none;
                                    
                                }
                                .search-select{
                                    width: 100%;
                                    box-sizing: border-box;
                                    display: inline-block;
                                    margin: 0;
                                    position: relative;
                                    vertical-align: middle;
                                    .selection{
                                        height: 50px;
                                        width:  350px;
                                        display: flex;
                                        align-items: center;
                                        background-color: #f1f7fa;
                                        background-image: none;
                                        border-radius: 0;
                                        border: 1px solid #f1f7fa;
                                        outline: 0;
                                        cursor: pointer;
                                        margin: 0 0 -4px 10px;
                                        .doctor-select{
                                            padding-left: 15px;
                                            color: $title-color;
                                            font-size: 16px;
                                            line-height: 28px;
                                            padding-right: 20px;
                                            text-overflow: ellipsis;
                                            white-space: nowrap;
                                        }
                                        .select-arrow{
                                            position: absolute;
                                            background-color: $primary-color;
                                            top: 55%;
                                            transform: translateY(-50%);
                                            background-image: none;
                                            border-style: none;
                                            right: 8px;
                                            height: 32px;
                                            width: 35px;
                                            border-radius: 2px;
                                            border: none;
                                            border-left: 1px solid #aaa;
                                            i{
                                                position: absolute;
                                                color: #ffffff;
                                                font-size: 15px;
                                                top: 30%;
                                                left: 35%;
                                            }
                                        }
                                    }
                                    .search-result{
                                        width: auto;
                                        min-width: 350px;
                                        position: absolute;
                                        border-color: #eceff0 !important;
                                        background-color: #fff;
                                        border: 1px solid transparent;
                                        left: 0;
                                        z-index: 2;
                                        border-radius: 4px;
                                        box-sizing: border-box;
                                        display: block;
                                        margin-left: 10px;
                                        margin-top: 5px;
                                        display: none;
                                        ul{
                                            max-height: 200px;
                                            overflow-y: auto;
                                            li{
                                                font-size: 16px;
                                                color: #111111;
                                                cursor: pointer;
                                                padding: 6px;
                                                line-height: 26px;
                                                font-weight: 400;
                                                font-style: normal;
                                                @include transition(all 0.3s ease 0s);
                                                &:hover{
                                                    background-color: $primary-color;
                                                    color: #ffffff;
                                                    @include transition(all 0.3s ease 0s);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .form-group{
                            margin-bottom: 1rem;
                            .doctor-name{
                                background-color: #f1f7fa;
                                border: 1px solid #f1f7fa;
                                width: 100%;
                                height: 50px;
                                padding: 5px 20px;
                                font-size: 16px;
                                color: $title-color;
                                line-height: 1.25;
                                background-image: none;
                                background-clip: padding-box;
                                border-radius: .25rem;
                                &::placeholder{
                                    color: $title-color;
                                }
                            }
                            input[type="text"]{
                                outline: none;
                            }
                            .item-btn{
                                border-color: $primary-color;
                                background-color: $primary-color;
                                color: #ffffff;
                                width: 100%;
                                text-align: center;
                                font-size: 16px;
                                font-weight: 500;
                                padding: 11.5px 10px;
                                border: 1px solid;
                                border-radius: 4px;
                                @include transition(all 0.5s ease-out);
                                &:hover{
                                    background-color: #1c58ef;
                                    @include transition(all 0.5s ease-out);
                                }
                            }
                        }
                    }
                    .doctor-items{
                        position: relative;
                        display: flex;
                        flex-wrap: wrap;
                        margin-right: -15px;
                        margin-left: 0px;
                        .doctor-item{
                            .team-box{
                                background-color: #ffffff;
                                padding: 40px 30px;
                                margin-bottom: 30px;
                                .item-img{
                                    position: relative;
                                    background-color: #f1f7fa;
                                    border-radius: 50%;
                                    margin: 0 auto 23px;
                                    max-width: 230px;
                                    max-height: 230px;
                                    &::after{
                                        content: "";
                                        position: absolute;
                                        background-color: rgba(57, 108, 240, 0.9);
                                        height: 100%;
                                        width: 100%;
                                        top: 0;
                                        left: 0;
                                        z-index: 1;
                                        opacity: 0;
                                        border-radius: 50%;
                                        visibility: hidden;
                                        @include transition(all 0.5s ease-out);
                                    }
                                    &:hover::after{
                                        opacity: 1;
                                        visibility: visible;
                                        @include transition(all 0.5s ease-out);
                                    }
                                    &:hover .item-icon li{
                                        opacity: 1;
                                        visibility: visible;
                                        @include transition(all 0.5s ease-out);
                                    }
                                    img{
                                        width: 100%;
                                        border-radius: 50%;
                                    }
                                    .item-icon{
                                        position: absolute;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        text-align: center;
                                        left: 0;
                                        right: 50px;
                                        z-index: 2;
                                        li{
                                            display: inline-block;
                                            visibility: hidden;
                                            opacity: 0;
                                            @include transition(all 0.5s ease-out);
                                            a{
                                                color: #ffffff;
                                                font-size: 36px;
                                                @include transition(all 0.5s ease-out);
                                                line-height: 26px;
                                                font-weight: 400;
                                                font-style: normal;
                                                &:hover{
                                                    color: #e3e3e3;
                                                    @include transition(all 0.5s ease-out);
                                                }
                                                i{
                                                    font-weight: 900;
                                                }
                                            }
                                        }
                                    }
                                }
                                .item-content{
                                    text-align: center;
                                    margin-bottom: 40px;
                                    position: relative;
                                    &::after{
                                        content: "";
                                        position: absolute;
                                        height: 3px;
                                        width: 50px;
                                        background-color: $primary-color;
                                        left: 0;
                                        bottom: -20px;
                                        right: 0;
                                        margin: 0 auto;
                                        border-radius: 4px;
                                    }
                                     .item-title{
                                        text-transform: capitalize;
                                        font-size: 22px;
                                        margin-bottom: 6px;
                                        line-height: 28px;
                                        font-weight: 700;
                                        font-style: normal;
                                           a{
                                             color: $title-color;
                                             @include transition(all 0.3s ease-out);
                                             &:hover{
                                                 color: $primary-color;
                                                 @include transition(all 0.3s ease-out);
                                                }
                                            }
                                        } 
                                        p{
                                            margin-bottom: 0;
                                            font-weight: 500;
                                            color: $body-color;
                                            font-size: 16px;
                                            line-height: 26px;
                                            font-style: normal;
                                        } 
                                    }
                                .item-content-text{
                                    text-align: center!important;
                                    p{
                                        margin: 0 0 20px 0;
                                        font-size: 16px;
                                        color: $body-color;
                                        line-height: 26px;
                                        font-weight: 400;
                                        font-style: normal;
                                    }
                                }
                                .item-schedule{
                                    .btn-holder{
                                        a{
                                            width: 100%;
                                            text-align: center;
                                            display: inline-block;
                                            font-size: 14px;
                                            line-height: 26px;
                                            font-style: normal;
                                            border: 1px solid;
                                            color: $body-color;
                                            border-color: $primary-color;
                                            background-color: transparent;
                                            text-transform: capitalize;
                                            font-weight: 700;
                                            padding: 10px 20px;
                                            border-radius: 4px;
                                            @include transition(all 0.5s ease-out);
                                            &:hover{
                                                color: #ffffff;
                                                background-color: $primary-color;
                                                @include transition(all 0.5s ease-out);
                                            }
                                        }
                                    }
                                }    
                            }
                        }
                    }
                }
            }
        }
        .pagination-area{
            margin-top: 50px;
            width: 100%;
            display: block;
            ul{
                margin: 0;
                padding: 0;
                text-align: center;
                font-size: 0;
                li{
                    display: inline-block;
                    margin-right: 5px;
                    a{
                        background-color: #f2f2f2;
                        color: #282828;
                        @include transition(all 0.5s ease-out);
                        height: 40px;
                        width: 44px;
                        margin: 0 3px;
                        display: block;
                        font-size: 20px;
                        line-height: 2;
                        text-align: center;
                        border-radius: 4px;
                        border-bottom: 1px solid #f2f2f2;
                        padding: 0 15px;
                        font-weight: 500;
                            &:hover{
                             background-color: $primary-color;
                             @include transition(all 0.5s ease-out);
                             color: #fff;
                           }
                     }
                }
                .active{
                    a{
                     background-color: $primary-color;
                    color: #fff;
                    }
                }
            }
        }
    }
}